---
import Layout from "../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { cn, dateFormatter } from "../../lib/utils";

export const getStaticPaths = (async () => {
  const blog = await getCollection("blog");

  return blog.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<Layout title={entry.data.title}>
  <article
    class={cn(
      "prose prose-zinc t-16",
      "prose-headings:text-xl prose-headings:font-medium prose-headings:my-[1.5em]",
      "prose-p:text-zinc-600 prose-p:my-[1.5em]",
      "prose-strong:text-zinc-900 prose-strong:border-b prose-strong:border-dashed prose-strong:border-zinc-500",
      "prose-inline-code:bg-zinc-50 prose-inline-code:p-1 prose-inline-code:rounded-lg prose-inline-code:border prose-inline-code:after:content-[''] prose-inline-code:before:content-['']"
    )}
  >
    <header class="not-prose space-y-2">
      <h1 class="text-xl font-medium text-zinc-900">{entry.data.title}</h1>
      <div class="flex gap-2 text-sm text-zinc-500">
        <span>{dateFormatter.format(entry.data.pubDate)}</span>
        &bull;
        <span>{remarkPluginFrontmatter.minutesToRead}</span>
      </div>
    </header>
    <Content />
  </article>
</Layout>
