---
import { dateFormatter } from "../../lib/utils";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const blog = await getCollection("blog");
---

<Layout title="Blog">
  <h1 class="font-medium text-zinc-900">Blog</h1>
  <ul>
    {
      blog.map((entry) => (
        <li>
          <a href={`/blog/${entry.slug}`} class="inline-block py-2 w-full">
            <span class="text-zinc-400">
              {dateFormatter.format(entry.data.pubDate)}
            </span>
            &nbsp;
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
