---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { dateFormatter } from "../lib/utils";

const posts = await getCollection("posts");
---

<BaseLayout
  description="I am Sebastian, 19 years old software engineer interested in full stack web development from Poland."
>
  <main class="space-y-16">
    <section class="space-y-2">
      <h1 class="font-normal text-zinc-950 dark:text-zinc-50">About</h1>
      <p>
        Hello, I am Sebastian, 19 years old <i>software engineer</i> interested in
        full stack web development from Poland.
      </p>
    </section>
    {
      posts.length !== 0 && (
        <section class="space-y-2">
          <h2 class="font-normal text-zinc-950 dark:text-zinc-50">Posts</h2>
          <ul>
            {posts.map((post) => (
              <li class="border-t border-zinc-100 last:border-b dark:border-zinc-800">
                <a
                  href={`/posts/${post.slug}`}
                  class="inline-block w-full py-2"
                >
                  <span class="text-zinc-400 dark:text-zinc-600">
                    {dateFormatter.format(post.data.pubDate)}
                  </span>
                  &nbsp;
                  {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </section>
      )
    }
  </main>
  <Footer />
</BaseLayout>
