---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1 class="font-medium text-zinc-900">Sebastian Flajszer</h1>
  <section class="space-y-2">
    <h3 class="font-medium text-zinc-900">About</h3>
    <p>
      Hello, I am Sebastian, a 19 years old software engineer from Poland. I
      like to
      <i>code</i>.
    </p>
  </section>
</Layout>
