---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1 class="font-medium text-zinc-900">Sebastian Flajszer</h1>
  <p>
    Hello, I am Sebastian, a 19 years old software engineer from Poland. I like
    to
    <i>code</i>. Feel free to read some of my blog posts and explore projects
    I've worked on.
  </p>
</Layout>
