<a
  href="https://buymeacoffee.com/senicko.com"
  target="_blank"
  class="group relative rotate-6 transition-all hover:scale-150"
>
  <div class="relative h-16 w-16">
    <svg
      class="absolute h-full w-full animate-spin transition [animation-duration:_100s] group-hover:[animation-duration:_10s]"
      width="459"
      height="456"
      viewBox="0 0 459 456"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M229.5 0L260.815 41.8393L304.019 12.4349L320.052 62.1753L370.462 48.3923L369.476 100.643L421.63 103.975L403.731 153.075L451.977 173.161L419.106 213.789L458.216 248.452L413.934 276.205L439.67 321.689L388.776 333.56L398.349 384.936L346.357 379.638L338.73 431.339L291.276 409.447L267.274 455.87L229.5 419.755L191.726 455.87L167.724 409.447L120.27 431.339L112.643 379.638L60.6514 384.936L70.2245 333.56L19.33 321.689L45.0663 276.205L0.783859 248.452L39.8943 213.789L7.02264 173.161L55.2691 153.075L37.3703 103.975L89.5245 100.643L88.5382 48.3923L138.948 62.1753L154.981 12.4349L198.185 41.8393L229.5 0Z"
        fill="#FFDD00"></path>
    </svg>
    <svg
      class="absolute left-0 top-0 h-1/2 w-1/2 translate-x-1/2 translate-y-1/2"
      width="188"
      height="272"
      viewBox="0 0 188 272"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1_18)">
        <path
          d="M168.245 63.272L168.058 63.1623L167.626 63.0306C167.8 63.1772 168.018 63.2622 168.245 63.272Z"
          fill="#0D0C22"></path>
        <path
          d="M168.325 63.242C168.298 63.2386 168.272 63.2325 168.247 63.2235C168.245 63.2407 168.245 63.2582 168.247 63.2754C168.275 63.2716 168.302 63.2601 168.325 63.242Z"
          fill="#0D0C22"></path>
        <path
          d="M168.246 63.2743H168.274V63.2569L168.246 63.2743Z"
          fill="#0D0C22"></path>
        <path
          d="M170.797 82.6689L171.112 82.4896L171.229 82.4237L171.335 82.3103C171.136 82.3962 170.954 82.5179 170.797 82.6689Z"
          fill="#0D0C22"></path>
        <path
          d="M168.789 63.6967L168.482 63.4039L168.273 63.2905C168.385 63.4883 168.571 63.6342 168.789 63.6967Z"
          fill="#0D0C22"></path>
        <path
          d="M91.452 252.26C91.2064 252.367 90.9912 252.533 90.8261 252.743L91.0201 252.62C91.1519 252.499 91.3384 252.356 91.452 252.26Z"
          fill="#0D0C22"></path>
        <path
          d="M136.361 243.424C136.361 243.148 136.226 243.199 136.259 244.185C136.259 244.107 136.291 244.026 136.306 243.949C136.324 243.773 136.339 243.601 136.361 243.424Z"
          fill="#0D0C22"></path>
        <path
          d="M131.703 252.26C131.457 252.367 131.242 252.533 131.077 252.743L131.271 252.62C131.403 252.499 131.59 252.356 131.703 252.26Z"
          fill="#0D0C22"></path>
        <path
          d="M59.8248 254.361C59.6383 254.2 59.4101 254.094 59.1662 254.053C59.3638 254.149 59.5613 254.244 59.693 254.317L59.8248 254.361Z"
          fill="#0D0C22"></path>
        <path
          d="M52.7083 247.546C52.6791 247.258 52.5907 246.98 52.4484 246.727C52.5492 246.988 52.6334 247.258 52.7008 247.531L52.7083 247.546Z"
          fill="#0D0C22"></path>
        <path
          d="M100.513 125.651C90.7423 129.833 79.6546 134.576 65.2845 134.576C59.2732 134.564 53.2908 133.739 47.5004 132.124L57.4391 234.162C57.7909 238.426 59.7338 242.403 62.882 245.302C66.0301 248.201 70.1533 249.808 74.4327 249.808C74.4327 249.808 88.5246 250.54 93.2269 250.54C98.2876 250.54 113.463 249.808 113.463 249.808C117.742 249.808 121.864 248.198 125.011 245.3C128.159 242.401 130.101 238.426 130.453 234.162L141.098 121.406C136.341 119.781 131.54 118.702 126.128 118.702C116.767 118.698 109.225 121.922 100.513 125.651Z"
          fill="#FFFFFF"></path>
        <path
          d="M16.7347 82.1172L16.903 82.2746L17.0128 82.3405C16.9282 82.2565 16.835 82.1816 16.7347 82.1172Z"
          fill="#0D0C22"></path>
        <path
          d="M187.057 72.6997L185.561 65.1507C184.218 58.3775 181.169 51.9775 174.217 49.5295C171.988 48.7463 169.46 48.4098 167.751 46.7887C166.042 45.1677 165.537 42.6502 165.142 40.3155C164.41 36.0305 163.722 31.7419 162.972 27.4643C162.324 23.7867 161.812 19.6555 160.125 16.2817C157.929 11.7516 153.374 9.1023 148.843 7.34953C146.522 6.483 144.153 5.74996 141.748 5.15401C130.43 2.16807 118.53 1.0703 106.886 0.444572C92.9101 -0.326606 78.8968 -0.0942608 64.954 1.13982C54.5764 2.0839 43.646 3.22559 33.7843 6.81529C30.18 8.12895 26.4657 9.70606 23.725 12.4908C20.362 15.9121 19.2642 21.2034 21.7195 25.47C23.4651 28.4998 26.4219 30.6405 29.5579 32.0567C33.6426 33.8813 37.9086 35.2698 42.2849 36.199C54.4702 38.8922 67.0911 39.9496 79.5399 40.3998C93.338 40.9565 107.158 40.5052 120.89 39.0493C124.286 38.6761 127.676 38.2284 131.059 37.7066C135.044 37.0954 137.602 31.8846 136.427 28.2546C135.022 23.9149 131.246 22.2317 126.975 22.8867C126.346 22.9854 125.72 23.0768 125.091 23.1683L124.637 23.2342C123.19 23.4173 121.744 23.5879 120.297 23.7465C117.309 24.0685 114.313 24.332 111.31 24.537C104.584 25.0053 97.8402 25.2211 91.0998 25.2322C84.4764 25.2322 77.8494 25.0455 71.2407 24.6102C68.2255 24.4126 65.2175 24.1612 62.2169 23.8563C60.852 23.7136 59.4907 23.5636 58.1296 23.3952L56.8341 23.2306L56.5525 23.1904L55.2095 22.9964C52.465 22.5828 49.7205 22.1073 47.0053 21.5327C46.7314 21.4718 46.4862 21.3196 46.3105 21.1006C46.1349 20.8817 46.0392 20.6095 46.0392 20.3288C46.0392 20.0482 46.1349 19.7759 46.3105 19.557C46.4862 19.3381 46.7314 19.1857 47.0053 19.1249H47.0566C49.4095 18.6236 51.7806 18.1955 54.1591 17.8222C54.9521 17.6978 55.7473 17.5759 56.545 17.4563H56.5669C58.0563 17.3575 59.553 17.0904 61.0349 16.9147C73.9291 15.5736 86.8998 15.1163 99.8565 15.5462C106.147 15.7292 112.433 16.0987 118.694 16.7354C120.041 16.8745 121.38 17.0209 122.72 17.1855C123.232 17.2478 123.748 17.3209 124.264 17.3831L125.303 17.5332C128.333 17.9845 131.347 18.5321 134.345 19.1762C138.788 20.1422 144.492 20.4569 146.468 25.3236C147.098 26.8678 147.383 28.584 147.731 30.205L148.174 32.2725C148.185 32.3095 148.194 32.3476 148.199 32.3859C149.246 37.2649 150.294 42.1438 151.343 47.0228C151.42 47.3833 151.421 47.7557 151.348 48.1168C151.274 48.4781 151.128 48.8201 150.916 49.1221C150.705 49.4238 150.433 49.6788 150.119 49.8711C149.804 50.0633 149.454 50.1886 149.088 50.2394H149.059L148.419 50.3272L147.786 50.4112C145.78 50.6724 143.773 50.9163 141.763 51.1432C137.803 51.5945 133.838 51.9848 129.866 52.3142C121.974 52.9702 114.067 53.4009 106.143 53.6059C102.106 53.7131 98.0694 53.7633 94.0344 53.7558C77.9738 53.7433 61.9271 52.8097 45.9734 50.9601C44.2461 50.7553 42.519 50.5356 40.7917 50.3126C42.1311 50.4846 39.8184 50.1807 39.3501 50.115C38.2523 49.9612 37.1545 49.8015 36.0567 49.6356C32.3717 49.0829 28.7089 48.4024 25.0312 47.8059C20.5852 47.0741 16.3331 47.4401 12.3116 49.6356C9.01049 51.442 6.33873 54.212 4.6527 57.5762C2.91819 61.1621 2.40223 65.0665 1.62647 68.9198C0.850698 72.7729 -0.356871 76.9188 0.10054 80.8744C1.08489 89.4114 7.05319 96.3493 15.6379 97.9009C23.7139 99.3644 31.8339 100.55 39.9757 101.56C71.9591 105.477 104.271 105.946 136.354 102.958C138.967 102.714 141.576 102.448 144.181 102.16C144.995 102.071 145.819 102.164 146.592 102.434C147.364 102.705 148.067 103.144 148.648 103.721C149.229 104.298 149.674 104.997 149.949 105.768C150.225 106.539 150.325 107.362 150.241 108.176L149.429 116.073C147.792 132.029 146.155 147.985 144.518 163.939C142.81 180.693 141.092 197.446 139.362 214.197C138.874 218.916 138.386 223.633 137.898 228.348C137.43 232.993 137.364 237.782 136.482 242.371C135.092 249.587 130.207 254.019 123.078 255.64C116.548 257.126 109.876 257.907 103.179 257.966C95.7543 258.007 88.3334 257.677 80.9087 257.717C72.9825 257.762 63.2745 257.03 57.1563 251.131C51.7806 245.951 51.0377 237.837 50.3059 230.821C49.3302 221.534 48.363 212.249 47.4041 202.965L42.025 151.336L38.5451 117.931C38.4864 117.379 38.4279 116.834 38.3731 116.277C37.9558 112.293 35.1345 108.392 30.6884 108.593C26.8829 108.761 22.5577 111.996 23.0041 116.277L25.5837 141.043L30.919 192.272C32.4389 206.824 33.9551 221.377 35.4676 235.934C35.7604 238.722 36.0347 241.519 36.3421 244.307C38.0145 259.544 49.6509 267.755 64.0612 270.067C72.4776 271.422 81.0988 271.7 89.6396 271.838C100.588 272.015 111.647 272.436 122.416 270.452C138.374 267.523 150.347 256.869 152.056 240.34C152.544 235.568 153.032 230.796 153.52 226.022C155.142 210.233 156.762 194.443 158.379 178.653L163.671 127.058L166.097 103.412C166.218 102.239 166.713 101.137 167.509 100.267C168.305 99.3982 169.36 98.8083 170.517 98.585C175.08 97.6959 179.442 96.1772 182.688 92.7046C187.855 87.1757 188.883 79.9669 187.057 72.6997ZM15.4037 77.8007C15.4732 77.7678 15.3451 78.3641 15.2902 78.6422C15.2793 78.2214 15.3012 77.8481 15.4037 77.8007ZM15.8465 81.2257C15.8831 81.2 15.9928 81.3465 16.1063 81.5222C15.9343 81.361 15.8245 81.2404 15.8428 81.2257H15.8465ZM16.2819 81.8001C16.5234 82.2357 16.4393 82.0672 16.2819 81.8001ZM17.1565 82.51H17.1784C17.1784 82.5357 17.2187 82.5613 17.2333 82.587C17.2091 82.5587 17.1821 82.533 17.1528 82.51H17.1565ZM170.305 81.4488C168.666 83.0076 166.196 83.7322 163.755 84.0946C136.383 88.1563 108.613 90.2128 80.9414 89.3053C61.1374 88.6284 41.542 86.429 21.9356 83.659C20.0144 83.3883 17.9322 83.037 16.6112 81.6208C14.1229 78.9495 15.3451 73.5706 15.9928 70.3432C16.5856 67.3865 17.72 63.4455 21.2366 63.0247C26.7256 62.3807 33.0999 64.6969 38.5304 65.5203C45.0683 66.5179 51.6307 67.3169 58.2173 67.9171C86.3279 70.4786 114.911 70.0797 142.897 66.3327C147.998 65.6471 153.081 64.8506 158.145 63.9432C162.657 63.1344 167.659 61.616 170.386 66.2887C172.255 69.4723 172.504 73.7316 172.215 77.3286C172.126 78.8957 171.441 80.3697 170.301 81.4488H170.305Z"
          fill="#0D0C22"></path>
      </g>
    </svg>
  </div>
</a>
