<div class="relative group" id="snippetContainer">
  <button
    class="w-8 h-8 absolute top-2 right-2 bg-zinc-50 border border-zinc-200 rounded-md opacity-0 group-hover:opacity-70 transition-opacity flex items-center justify-center text-zinc-800"
    id="copyButton"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-4 h-4 absolute"
      id="copy"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"
      ></path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-4 h-4 absolute"
      id="copied"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 12.75 6 6 9-13.5"></path>
    </svg>
  </button>
  <slot />
</div>

<script>
  const copyButtons = document.querySelectorAll("#copyButton");

  copyButtons.forEach((button) => {
    const snippetContainer = button.parentElement!;
    const copyIcon = button.querySelector<HTMLElement>("#copy");
    const copiedIcon = button.querySelector<HTMLElement>("#copied");

    if (!copyIcon || !copiedIcon) {
      console.error("copyIcon and copiedIcon elements should be present");
    }

    if (copyIcon && copiedIcon) {
      button.parentElement!.addEventListener("mouseenter", () => {
        copiedIcon.style.visibility = "hidden";
        copyIcon.style.visibility = "visible";
      });
    }

    button.addEventListener("click", async () => {
      const code = snippetContainer.textContent || "";
      const type = "text/plain";
      const blob = new Blob([code], { type });
      const data = [new ClipboardItem({ [type]: blob })];
      await navigator.clipboard.write(data);

      if (copyIcon && copiedIcon) {
        copiedIcon.style.visibility = "visible";
        copyIcon.style.visibility = "hidden";
      }
    });
  });
</script>
