---
import { cn } from "../lib/utils";

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"footer"> {}

const { class: htmlClass, ...attrs } = Astro.props;
---

<footer class={cn("space-y-2", htmlClass)} {...attrs}>
  <h2 class="font-normal text-zinc-950">Social</h2>
  <ul class="space-y-2">
    <li>
      <a href="https://github.com/senicko">GitHub</a>
    </li>
    <li>
      <a href="/rss.xml">RSS</a>
    </li>
  </ul>
</footer>
