<hr />
<footer class="space-y-2">
  <h3 class="font-medium">Sitemap</h3>
  <ul class="font-mono space-y-2">
    <li>
      <a class="inline-block w-[100px]" href="/">/</a>
    </li>
    <li>
      <a href="/blog">/blog</a>
    </li>
  </ul>
</footer>
