<hr />
<footer class="flex pb-36">
  <div class="flex-1 space-y-2">
    <h3 class="font-medium text-zinc-900">Sitemap</h3>
    <ul class="font-mono space-y-2">
      <li>
        <a class="inline-block w-[100px]" href="/">/</a>
      </li>
      <li>
        <a href="/blog">/blog</a>
      </li>
    </ul>
  </div>
  <div class="flex-1 space-y-2">
    <h3 class="font-medium text-zinc-900">Social</h3>
    <ul class="font-mono space-y-2">
      <li>
        <a href="https://github.com/senicko">GitHub</a>
      </li>
      <li>
        <a href="/rss.xml">RSS</a>
      </li>
    </ul>
  </div>
</footer>
