<nav>
  <a
    id="portal"
    href="/"
    class="inline-block py-2 font-['Geist_Mono'] text-zinc-950">[\]</a
  >
</nav>

<script>
  const portal = document.querySelector<HTMLLinkElement>("#portal")!;
  const symbols = ["\\", "|", "/", "-"];

  let current = 0;
  setInterval(() => {
    portal.textContent = `[${symbols.at(current)}]`;
    current = current + 1;
    if (current === symbols.length) current = 0;
  }, 1000);
</script>
