---
import type { Toc } from "../lib/toc";

interface Props {
  toc: Toc;
  depth?: number;
}

const { toc, depth = 0 } = Astro.props;
---

<ul style={{ paddingLeft: `calc(16px * ${depth})` }}>
  {
    toc.map((header) => (
      <>
        <li>
          <a href={`#${header.slug}`}>{header.text}</a>
        </li>
        <Astro.self toc={header.children} depth={depth + 1} />
      </>
    ))
  }
</ul>
