---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-prose m-auto p-8 space-y-8">
      <slot />
      <div class="border-b border-zinc-100 w-full"></div>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  html {
    @apply text-zinc-600;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/GeistVF.woff2") format("woff2-variations");
  }
</style>
